html{
    font-family: "Jersey 10", sans-serif;
    background-color: #121212;
}

body {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vw;
    color: white;
    border: white dashed 2px;
}

a {
    text-decoration: none;
    color: #0077CC;
}

.emphasise {
    color: #CC5500;
}

.navbar a {
    text-decoration: none;
    color: #0077CC;
    font-size: 1.3vw;
    padding-right: 1vw;
}

.navbar span {
    font-size: 1.3vw;
    padding-right: 1vw;
}

.gridbox {
    box-sizing: border-box;
    border: white solid 1px;
    width: 45%;
    padding: 10px;
    margin-right: 1vw;
    margin-bottom: 2vw;
    float: left;
}

.gridbox ul {
    list-style: none;
    margin-left: 0;
    margin-right: 0;
}

.gridbox li {
    padding-left: 1em;
    text-indent: -1em;
}

.gridbox li:before {
    content: "+";
    padding-right: 5px;
}

.boxwrapper {
    width: 50%;
    overflow: hidden;
}

h2{
    font-size: 1.5vw;
}

p {
    font-size: 1.1vw;
}

.scotland {
    background: -webkit-linear-gradient(#FFFFFF, #005EB8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fig {
    border: white dashed 1px;
    display: inline-block;
    text-align: center;
}

.fig p {
    padding: 0;
    margin: 0;
    font-style: italic;
    color: #999999;
}

.center {
    margin: auto;
    width: 50%;
    text-align: center;
}

.explorebox {
    border: white dashed 1px;
    margin-bottom: 1vw;
}

.bloglist {
    font-size: 1.3vw;
}

.bloglist li {
    list-style: square;
}

.blogpost h1{
    color: #CC5500;
}

.blogpost h2{
    color: #00713c;
}

.blogpost li{
    font-size: 1.1vw;
}

.blogpost img {
    width: 20%;
    height: 20%;
}