<a href="https://web.archive.org/web/20060615204046/https://www.adobe.com/uk/" target="_blank"><img src="https://cyber.dabamos.de/88x31/adobe_golive2.gif"></a>
<a href="https://www.viber.com/en/" target="_blank"><img src="https://cyber.dabamos.de/88x31/discord_now.gif"></a>
<a href="https://store.steampowered.com/app/70/HalfLife/" target="_blank"><img src="https://cyber.dabamos.de/88x31/half-life.gif"></a>
<a href="https://ubuntu.com/download/desktop" target="_blank"><img src="https://cyber.dabamos.de/88x31/ubuntu-88x31.gif"></a>
<a href="https://pepsi.com" target="_blank"><img src="https://cyber.dabamos.de/88x31/pepsi.gif"></a>
<a href="https://genderedintelligence.co.uk/" target="_blank"><img src="https://cyber.dabamos.de/88x31/transnow2.gif"></a>
