---
import {ClientRouter} from "astro:transitions";

import '../styles/global.css';
import Navigation from '../components/Navigation.astro';

const pageTitle = "About Jupiter";

const identity = {
    nickname: "Quark",
    realname: "Jack",
    country: "Scotland"
};

const hobbies = ["Writing", "Doing silly things with computers", "Goofing", "Many other shenanigans"];

const languages = ["JavScript", "Python", "Java", "C#"];
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <ClientRouter />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap" rel="stylesheet">

        <title>{pageTitle}</title>
    </head>
    <body>
        <Navigation />

        <articl class="blogpost">
            <slot />
        </article>
    </body>
</html>
